/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.header {
    width: 100%;
    padding: .3rem;
    background-color: black;
    text-align: right;
}

.header .speaker-view {
    margin-right: .3rem;
    padding: .4rem .2rem;
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.header .icon-container {
    margin-right: .3rem;
    display: inline-block;
    padding: .35rem;
    background-color: #4a4a4a;
    color: white;
    border-radius: 5px;
}

.header .icon-container:hover {
    cursor: pointer;
}